# Packages required to run the problems notebook
# Data Frames.
pandas
# Numerical arrays.
numpy
# Statistical data evaluation.
matplotlib
# Regression validation. 
scipy
# Interactive Python shell.
ipython
# Jupyter notebook/lab support.
ipykernel
# Jupyter lab.
jupyterlab
# Jupyter notebook.
notebook
